<template name="home">
  {{#if currentUser}}
    logged in
  {{else}}
    <form>
      <div class="form-group">
        <label for="isbn">Type ISBN</label>
        <div class="input-group">
          <input type="text" id="isbn" class="form-control" placeholder="963825419X" val="">
          <span class="input-group-btn">
            <button class="btn btn-default callServer" type="button">Fill in the form 
              <span class="fa fa-caret-right"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img id="cover" class="img-responsive img-thumbnail" src="{{cover}}">
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" placeholder="The title" val="{{title}}">
          </div>
          <div class="form-group">
            <label for="title">Author(s)</label>
            <input type="text" id="author" class="form-control" placeholder="Author's" val="{{author}}">
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    {{#each books}}
      <h1>title</h1>
    {{/each}}

  {{/if}}
</template>